<div class="container mx-auto">
	<h1>Mancala Game</h1>
	<div class="row">
		<!-- Player 1's pits -->
		<div class="col-1" *ngFor="let pit of gameDataSource.pits.slice(0, 7)">
			<button (click)="updateGame(pit.id)" type="button" class="btn btn-outline-primary me-2">{{ pit.seeds }}</button>
		</div>
	</div>
	<hr />
	<div class="row">
		<!-- Player 1's pits -->
		<div class="col-1" *ngFor="let pit of gameDataSource.pits.slice(7).reverse()">
			<button (click)="updateGame(pit.id)" type="button" class="btn btn-outline-danger me-2">{{ pit.seeds }}</button>
		</div>
	</div>
</div>